*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;

}
body{
    background-color: rgb(157, 199, 224);   
}
.card{
    border: 1px solid #ffffff;
    width: 640px;
    height: 400px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
}
.outside,
.inside{
    border: 1px solid #000000;
    height: 100%;
    width: 50%;
    position: absolute;
}
.inside{
    left: 50.1%;
}
.outside{

}
.front,
.back{
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotatex(0deg);

}
.front{
    background-color: #ffffff;
}
.back{
    transform: rotateY(180deg);
    background: linear-gradient(to left, #e0e0e0, #ffffff);

}
.cake{
    width: 100%;
    position: absolute;
    bottom: 30px;
}
.top-layer,
.middle-layer,
.bottom-layer{
    height: 80px;
    width: 240px;
    background-repeat: repeat;
    background-size: 60px 100px;
    background-position: 28px 0;
    background-image: linear-gradient(
        transparent 50px,
        #fedbab 50px,
        #fedbab 60px,
        transparent 60px
    ),
    radial-gradient(circle at 30px 5px,#994c10 30px,
        #fcbf29 31px);
        border-radius: 10px 10px 0 0;
        position: relative;
        margin: auto;

}
.middle-layer{
    transform: scale(0.85);
    top: 6px;
}
.top-layer{
    transform: scale(0.7);
    top: 26px;
}
.candle{
    height: 45px;
    width: 15px;
    background: repeating-linear-gradient(45deg,
    #fd3018 0,
    #fd3018 5px,
    #ffa89e 5px,
    #ffa89e 10px
    );
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 202px;
}
.candle::before{
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #ffa500;
}